$theme: rgb(1,5,45);
$textBlue: rgb(100, 149, 237);
$lightBlue: rgb(31,165,222);
$purple: rgb(132,18,244);
$yellow: rgb(221,153,2);
$red: rgb(126,5,3);
$bgWhite: rgb(245, 245, 245); 
$price: rgb(8, 143, 143);