@use "../abstract" as *;

.section{
    padding: $sectionPadding;
    background-color: $bgWhite;
}

.maxWidthWrap{
    @include maxWidthSetting;
    text-align: center;

    h3{
        @include landingSectionHeader;
    }
}

.grid{
    @include landingGrid;
    @include responsive(large-phone){
        grid-template-columns: 1fr 1fr;
    }
}

.seeMore{
    @include buttonStyle;
    margin-top: 3rem;
    color: #fff;
}